div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

h3 {
  font-size: 24px;
  padding: 5px 0px;
  margin: 0px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #b1ddea;
  border: 1px solid black;
  border-radius: 5px;
  height: 70vh;
  position: relative;
}
