form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #b1ddea;
  border: 1px solid black;
  border-radius: 5px;
  height: 300px;
  position: relative;
  padding: 0px 20px 20px 20px;
  margin-top: 10px;
}

input {
  border-radius: 5px;
}

#title {
  padding: 10px 5px;
}

#thought {
  display: flex;
  height: 500px;
  margin-bottom: 20px;
}

button {
  padding: 10px 0px;
  border-radius: 5px;
}
